
    		@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
            
            body{
				margin: 0; 
				background-color: black;
				background-image: url(img/sfondo-page.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				height: 100vh;
				height: 100dvh;
				display: grid;
				place-items: center;
				text-align: center;
			}

			h1, p {
				color:white;
				font-family: 'Text Me One', sans-serif;
				max-width: 25rem;
			}

			p {
				line-height: 1.8;
			}

			button {
				font-family: 'Text Me One', sans-serif;
				background-color: transparent;
				width: 15rem;
				height: 3rem;
				border: 2px solid rgb(255, 183, 218);
				outline: none;
				color: #fff;
				cursor: pointer;
				position: relative;
				z-index: 0;
				font-size: 1rem;
				border-radius: 10px;
				text-transform: uppercase;
				letter-spacing: 2px;
				box-shadow: rgb(255, 63, 156) 0 0 1rem,
				 inset rgb(255, 63, 156) 0 0  1rem;
				 margin-block: 1rem; 
			}
			button:hover {
				outline: none;
				cursor: pointer;
				position: relative;
				z-index: 0;
				font-size: 1rem;
				border-radius: 10px;
				text-transform: uppercase;
				letter-spacing: 2px;
				box-shadow: none;
				border: 2px solid gray;
				color: gray
			}

			canvas {
				border-radius: 0.3rem;
			}

			.play {
				border: 2px solid rgb(255, 183, 218);
				padding: 2rem 4rem; 
				border-radius: 1rem;
				box-shadow: rgb(255, 63, 156) 0 0 1rem,
				 inset rgb(255, 63, 156) 0 0  1rem;
				 margin: 1rem; 
			}

			.error {
				 margin: 1rem; 
			}

			.hidden {
				display: none;
			}
			